.navbar {
    display: flex;
    justify-content: center; /* 가운데 정렬을 위한 CSS 속성 */
  }
  
  .navList {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navList li {
    font-size: 1.2rem;
  }
  